/* font-family: 'Libre Franklin', sans-serif; */
/* font-family: 'Tenor Sans', sans-serif; */
/* font-family: 'Source Serif Pro', serif; */

.footer {
    width: 100%;
    background-color: #141414;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: calc(30px + (30 - 30) * ((100vw - 320px) / (1440 - 320)));
    padding-right: calc(30px + (30 - 30) * ((100vw - 320px) / (1440 - 320)));
}
.container_footer {
    max-width: 1200px;
    width: 100%;
    padding-top: calc(45px + (90 - 45) * ((100vw - 320px) / (1440 - 320)));
    padding-bottom: calc(45px + (90 - 45) * ((100vw - 320px) / (1440 - 320)));
    /* outline: 1px solid white; */
}
.footer_head {
    width: 100%;
    min-height: 81px;
    border-bottom: 1px solid #4D4D4D;
}
.footer_head p {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 1px;
    color: #666666;
    display: inline-block;
    margin-left: calc(8px + (15 - 8) * ((100vw - 320px) / (1440 - 320)));
}
.in_container_footer {
    width: 100%;
    min-height: 294px;
    height: 100%;
    /* outline: 1px dashed yellow; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: calc(30px + (60 - 30) * ((100vw - 320px) / (1440 - 320)));
}
.frame_top {
    width: 100%;
    min-height: 110px;
    height: 100%;
    /* outline: 1px solid rgb(255, 0, 0); */
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}
.in_frame_top {
    max-width: 900px;
    width: 100%;
    min-height: 110px;
    /* outline: 1px solid white; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: calc(17px + (35 - 17) * ((100vw - 320px) / (1440 - 320)));
}
.in_frame_top_head {
    width: 100%;
    /* outline: 1px solid yellow; */
}
.in_frame_top_head {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 1px;
    color: #666666;
}
.block_1_in_frame_top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.block_1_in_frame_top p {
    max-width: 133px;
    width: 100%;
    /* outline: 1px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.block_1_in_frame_top a {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
}
.block_1_in_frame_top a:hover {
    text-decoration: underline;
}
.mail-box {
    max-width: 300px;
    width: 100%;
    min-height: 110px;
    /* outline: 1px solid white; */
    display: flex;
    flex-direction: column;
}
.mail-box_head {
    width: 100%;
    /* outline: 1px solid pink; */
    margin-bottom: calc(10px + (20 - 10) * ((100vw - 320px) / (1440 - 320)));
    
}
.mail-box_head p {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #666666;
    margin-left: calc(12px + (20 - 12) * ((100vw - 320px) / (1440 - 320)));
} 
.btn_send_mail {
    max-width: 79px;
    width: 100%;
    min-height: 48px;
    height: 100%;
    background-color: black;
    border: 1px solid white;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #ffffff;
    margin-left: 5px;
}
.email {
    max-width: 221px;
    min-height: 48px;
    height: 100%;
}
.email::placeholder {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #000000;
    text-align: center;
}
.form_mail {
    width: 100%;
    max-height: 48px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}








.frame_bottom {
    max-width: 625px;
    width: 100%;
    min-height: 114px;
    /* outline: 1px solid rgb(255, 255, 255); */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.block_1_in_frame_bottom {
    max-width: 140px;
    width: 100%;
    /* outline: 1px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.block_1_in_frame_bottom p {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 1px;
    color: #666666;
}
.block_1_in_frame_bottom a {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
}
.block_1_in_frame_bottom a:hover {
    text-decoration: underline;
}