/* font-family: 'Libre Franklin', sans-serif; */
/* font-family: 'Tenor Sans', sans-serif; */
/* font-family: 'Source Serif Pro', serif; */

.section_3 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: calc(45px + (90 - 45) * ((100vw - 320px) / (1440 - 320)));
}
.container_section_3 {
    max-width: 1200px;
    width: 100%;
    /* outline: 1px solid rgb(255, 0, 0); */
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-between;
    padding-bottom: calc(30px + (65 - 30) * ((100vw - 320px) / (1440 - 320)));
}
.box_block_top_section_3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.box_block_bottom_section_3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: calc(12px + (24 - 12) * ((100vw - 320px) / (1440 - 320)));
}
.block-1_section_3 {
    max-width: 285px;
    width: 100%;
    min-height: 389px;
    /* outline: 1px solid rgb(0, 0, 255); */
    display: flex;
    flex-direction: column;
}
.block-1_section_3 p:nth-child(2) {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 1px;
    color: #999999;
    text-transform: uppercase;
    margin-top: calc(15px + (24 - 15) * ((100vw - 320px) / (1440 - 320)));
}
.block-1_section_3 p:nth-child(3) {
    max-width: 347px;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
    text-transform: uppercase;
    margin-top: calc(11px + (18 - 11) * ((100vw - 320px) / (1440 - 320)));
}
.block-1_section_3 p:nth-child(4) {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 1px;
    color: #000000;
    text-transform: uppercase;
    margin-top: calc(10px + (15 - 10) * ((100vw - 320px) / (1440 - 320)));
}
.btn_sec_3 {
    width: 205px;
    height: 54px;
    border: 1px solid black;
    background-color: white;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
}
.line {
    max-width: 1200px;
    width: 100%;
    height: 1px;
    background-color: #E6E6E6;
    margin-top: calc(45px + (90 - 45) * ((100vw - 320px) / (1440 - 320)));
}