/* font-family: 'Libre Franklin', sans-serif; */
/* font-family: 'Tenor Sans', sans-serif; */
/* font-family: 'Source Serif Pro', serif; */

.section_2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: calc(15px + (35 - 15) * ((100vw - 320px) / (1440 - 320)));
    border-bottom: 1px solid #E6E6E6;
}
.container_section_2 {
    max-width: 1200px;
    width: 100%;
    /* outline: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid #E6E6E6;
    padding-bottom: calc(30px + (65 - 30) * ((100vw - 320px) / (1440 - 320)));
}
.block-1_section_2 {
    max-width: 387px;
    width: 100%;
    /* outline: 1px solid rgb(0, 0, 255); */
    display: flex;
    flex-direction: column;
}
.box_block_top {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.box_block_bottom {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: calc(15px + (30 - 15) * ((100vw - 320px) / (1440 - 320)));
}
.block-1_section_2 p:nth-child(2) {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 1px;
    color: #999999;
    text-transform: uppercase;
    margin-top: calc(15px + (24 - 15) * ((100vw - 320px) / (1440 - 320)));
}
.block-1_section_2 p:nth-child(3) {
    max-width: 347px;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
    text-transform: uppercase;
    margin-top: calc(11px + (18 - 11) * ((100vw - 320px) / (1440 - 320)));
}
.block-1_section_2 p:nth-child(4) {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 1px;
    color: #000000;
    text-transform: uppercase;
    margin-top: calc(10px + (15 - 10) * ((100vw - 320px) / (1440 - 320)));
}